[run]
omit =
    ./src/v3xctrl_control/apps/*
    ./src/v3xctrl_control/examples/*
    ./src/v3xctrl_helper/modem/*
    ./src/v3xctrl_punch/*
    ./src/v3xctrl_udp_relay/apps/*
    ./src/v3xctrl_udp_relay/examples/*
