/bin
/lib
/lib64
/include
pyvenv.cfg
config.yml
__pycache__
_version.py
*.db
*.deb
/build/v3xctrl-client/usr/share
/build/tmp
/src/v3xctrl_web/static/libs
/src/v3xctrl_web/configs
/.pytest_cache
*.toml
!android/gradle/libs.versions.toml
!ruff.toml
.venv
