<!DOCTYPE html>
<html>
  <head>
    <title>RC Config Editor</title>
    <script src="{{ url_for('static', filename='libs/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='libs/jsoneditor.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='libs/bootstrap3.min.css') }}">
  </head>

  <body>
    <div class="container">
      <div id="editor_holder"></div>
      <button id="save" class="btn btn-primary">Save</button>
      <div id="response"></div>
    </div>

    <script>
      const schema = {{ schema|tojson }};
      const startval = {{ config|tojson }};

      const editor = new JSONEditor(document.getElementById('editor_holder'), {
        schema: schema,
        startval: startval,
        theme: 'bootstrap3'
      });

      $('#save').on('click', function() {
        $('#response').text("");
        const updatedData = editor.getValue();
        const errors = editor.validate();

        if(errors.length ==0) {
          $.ajax({
            url: '/save',
            method: 'POST',
            contentType: 'application/json',
            data: JSON.stringify(updatedData),
            success: function(res) {
                $('#response').text(res.message);
            }
          });
        }
      });
    </script>

  </body>
</html>
